* { 
  margin: 0; 
  padding: 0; 
}

li { list-style: none; }

a { text-decoration: none; color:steelblue; }
a:hover {
  color: green;
  text-decoration: underline;
}
body { 
  font-size: 20px;
  background-color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #666;
}  
ul { 
  display: flex;
  justify-content: space-around;
}

